// ============ VARIABLES ================
// COLORES--------------------
$gold: #D5966C;
$almost-black: #151515;
$dark-grey: #444444;

// FUENTES--------------------
$primary-font: 'Outfit Light', sans-serif;
$secondary-font: 'Big Shoulders Display Black', sans-serif;

// INTERFAZ--------------------
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;