.footer {
  color: #fff;
  position: relative;
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 120%;
  height: 100%;
  background-color: #151515;
  z-index: -1;
}
.footer p {
  padding: 0px 30px 20px 25px;
  color: #fff;
}
.footer__logo {
  padding: 35px 0 15px 25px;
  width: 100px;
}
.footer__img {
  display: flex;
  padding: 0px 0 40px 25px;
  gap: 15px;
}

body {
  background-color: #fff;
}

.hero__content {
  margin-bottom: 80px;
}
.hero__content h1 {
  font-family: "Big Shoulders Display Black", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  font-size: 2.8em;
}
.hero__content p {
  margin-bottom: 30px;
}
.hero__experience h2 {
  font-family: "Big Shoulders Display Black", sans-serif;
  font-weight: 700;
  letter-spacing: -0.07em;
  font-size: 2.2em;
  text-transform: uppercase;
}
.hero__experience p {
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  position: relative;
  padding: 18px 18px;
  font-family: "Big Shoulders Display Black", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #151515;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22%;
  height: 100%;
  background-color: #D5966C;
  z-index: -1;
}
.button:after {
  content: "";
  margin-left: 15px;
  width: 24px;
  height: 20px;
  background: url(/img/arrow.svg) no-repeat right;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.button:hover {
  background-color: black;
}
.button:hover:before {
  background-color: rgb(201.6666666667, 121.6666666667, 68.3333333333);
}
.button:focus {
  outline: none;
}

.callout {
  background-color: #151515;
  color: #fff;
}
.callout h2 {
  padding: 25px 30px 0 20px;
  font-family: "Big Shoulders Display Black", sans-serif;
  font-weight: 700;
  letter-spacing: -0.07em;
  font-size: 2.2em;
  text-transform: uppercase;
}
.callout p {
  padding: 0px 30px 40px 20px;
  color: #fff;
}
.callout__background {
  position: relative;
}
.callout__background:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 120%;
  height: 100%;
  background-color: #151515;
  z-index: -1;
}

.callout-2 {
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.callout-2:before {
  content: "";
  position: absolute;
  top: -25px;
  left: -10px;
  width: 120%;
  height: 150%;
  background-color: #151515;
  z-index: -1;
}
.callout-2__title {
  padding: 25px 30px 0 20px;
  font-family: "Big Shoulders Display Black", sans-serif;
  font-weight: 700;
  letter-spacing: -0.07em;
  font-size: 2.2em;
  text-transform: uppercase;
}
.callout-2__title-2 {
  padding: 10px 30px 0 20px;
  font-family: "Big Shoulders Display Black", sans-serif;
  font-weight: 700;
  letter-spacing: -0.07em;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #D5966C;
}
.callout-2__table {
  padding: 0px 30px 5px 20px;
}
.callout-2__table p {
  color: #fff;
}
.callout-2__text {
  padding: 0px 30px 40px 20px;
  color: #fff;
}

.footer-2 {
  position: relative;
}
.footer-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 120%;
  height: 100%;
  background-color: #D5966C;
  z-index: -1;
}
.footer-2 p {
  padding: 0px 30px 20px 25px;
  color: #151515;
}
.footer-2__logo {
  padding: 35px 0 15px 25px;
  width: 100px;
  filter: brightness(0);
}
.footer-2__img {
  display: flex;
  padding: 0px 0 40px 25px;
  gap: 15px;
  filter: brightness(0);
}

html * {
  font-family: "Outfit Light", sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  background-color: #fff;
}

img {
  max-width: 100%;
}

p {
  color: #444444;
}/*# sourceMappingURL=style.css.map */