@use '../abstracts/index' as abs;
@use 'sass:color';

// ============ DEFAULT ================
.footer {
  color: #fff;
  position: relative;
  margin-top: 90px;
  padding: 30px;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: abs.$almost-black;
    z-index: -1; 
  }
  
  p {
    padding: 0px 30px 20px 0;
    color: #fff;
  }
  
  &__logo {
    width: 100px;
  }
  
  &__img {
    display: flex;
    gap: 15px;
  }
}
