@use '../abstracts/index' as abs;
@use 'sass:color';

// ============ DEFAULT ================
.hero {
  position: relative; // Asegura que el contenedor maneje el fondo
  
  &__content {
    margin-bottom: 80px;
    
    &__title {
      display: flex;
      flex-direction: column;
      span {
        display: block; // Asegura que cada palabra ocupe una línea
        font-family: abs.$secondary-font;
        font-weight: 700;
        letter-spacing: -0.07em; // Alineado con h2
        font-size: 2em;
      }
    }

    &__text {
      margin-bottom: 30px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  
  &__experience {
    h2 {
      font-family: abs.$secondary-font;
      font-weight: 700;
      letter-spacing: -0.07em;
      font-size: 2.2em;
      text-transform: uppercase;
    }
  
    p {
      margin-bottom: 30px;
    }
  }
}

// ============ TABLET ================
@include abs.breakpoint(tablet) {
  .hero {
    &__content {
      padding: 80px 30px 0px 50%; 
      background-image: url('img/image-1.jpg'); 
      background-size: auto 650px; 
      background-position: -20px top; 
      background-repeat: no-repeat;
      position: relative;
      min-height: 700px;
      margin-bottom: 0;

      img {
        display: none;
      }
    }

    &__experience {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: auto auto auto; 
      gap: 10px;
      padding: 0 15px;
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;

      .hero__experience__text {
        grid-column: 1 / 2; 
        grid-row: 1 / 2;
        h2 {
          padding-right: 180px;
        }
        p {
          padding-right: 120px;
        }
      }

      img:nth-child(1) { // Primera imagen (image-2-mobile.jpg)
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 100%;
        height: 400px;
        object-fit: cover; 
        position: relative;
        top: 0px;
        right: 30px;
      }

      img:nth-child(3) { // Segunda imagen (image-3-mobile.jpg)
        grid-column: 1 / 2;
        grid-row: 2 / 4; 
        width: 100%;
        height: 700px;
        object-fit: cover; 
        position: relative;
        top: 0px;
        left: 0px;
      }

      img:nth-child(4) { // Tercera imagen (image-4-mobile.jpg)
        grid-column: 2 / 3;
        grid-row: 2 / 3; 
        object-fit: cover;
        position: relative;
        width: 93%;
        height: 315px;
        top: 0px;
        left: 0px;
      }

      .callout {
        grid-column: 2 / 3; 
        grid-row: 3 / 4; 
        position: relative;
        width: 93%;
        height: 375px;
        top: 0;
        left: 0;
        
        &__title {
          margin: 0;
          padding: 65px 40px 0 20px;
        }

        &__text {
          margin: 0;
          padding: 25px 40px 0 20px;
        }
      }
    }
  }

  .footer {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
  
    img {
      padding: 0;
      
    }
  
    p {
      margin: 0;
      padding: 0px 160px 20px 35px;
    }
  
    &__img {
      padding-right: 40px;
      position: relative;
      top: -30px;
      right: 90px;
    }

    &__logo {
      position: relative;
      top: -20px;
      right: 20px;
    }
  }
}

// ============ DESKTOP ================
@include abs.breakpoint(desktop) {
  .hero {
    &__content { 
      background-size: auto 800px; 
      min-height: 620px; 
      background-position: 340px top;
      background-size: auto 650px;
      margin-bottom: 50px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 340px;
        height: 650px;
        background-color: abs.$almost-black;
        z-index: -1;
      }

      &__title {
        display: flex;
        flex-direction: column;
        span {
          display: block; // Asegura que cada palabra ocupe una línea
          color: #fff;
          font-size: 50px;
          position: relative;
          top: 0;
          right: 600px;
        }
      }

      &__text {
        text-align: start;
        padding-right: 55%;
        position: relative;
        top: -130px;
        right: 0px;
      }

      .button {
        position: relative;
        top: -130px;
        right: 0px;
      }
    }

    &__experience {
      padding: 0;
      width: 80%;
      gap: 20px;
      position: relative;
      top: 0px;
      left: 10%;

      .hero__experience__text {
        h2 {
          font-size: 40px;
          padding-right: 250px; 
        }
        p {
          padding-right: 280px; 
        }
      }

      img:nth-child(1) { // Primera imagen (image-2-mobile.jpg)
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 100%;
        height: 400px;
        object-fit: cover; 
        position: relative;
        top: 0px;
        left: 0px;
      }

      img:nth-child(3) { // Segunda imagen (image-3-mobile.jpg)
        grid-column: 1 / 2;
        grid-row: 2 / 4; 
        width: 100%;
        height: 700px;
        object-fit: cover; 
        position: relative;
        top: 0px;
        left: 0px;
      }

      img:nth-child(4) { // Tercera imagen (image-4-mobile.jpg)
        grid-column: 2 / 3;
        grid-row: 2 / 3; 
        object-fit: cover;
        position: relative;
        width: 100%;
        height: 315px;
        top: 0px;
        left: 0px;
      }

      .callout {
        grid-column: 2 / 3; 
        grid-row: 3 / 4; 
        position: relative;
        width: 100%;
        height: 365px;
        top: 0;
        left: 0;

        &__title {
          padding: 50px 170px 0 40px; 
          font-size: 40px;
        }
        &__text {
          padding: 15px 170px 0 40px; 
        }
      }
    }
  }
}