// ============ POR DEFECTO ================
@use '../abstracts/index' as *;

html * {
  font-family: $primary-font;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  background-color: #fff;
}

img {
  max-width: 100%;
}

p {
  color: $dark-grey ;
}